<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="HttpLoginURL" value="http://fuworldorder.net/forum/login.php" />
    <add key="HttpUploadURL" value="http://fuworldorder.net/hava/testraidupload.php" />
    <add key="EqGuildName" value="Fu World Order" />
    <add key="LootMinutes" value="10" />
    <add key="LootLookupMinutes" value="2.5" />
    <add key="EqToon" value="havanap" />
    <add key="EqServerShortName" value="bristle" />
    <add key="LogFileScanSize" value="20" />
    <add key="HttpUsername" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA02WkTn5kdk2EiB3JkEHS/QAAAAACAAAAAAAQZgAAAAEAACAAAABiIxJdmvVX/IkgP+V2mMXe5G1BfIDXkpx+8lgHrdXCwwAAAAAOgAAAAAIAACAAAABaWJDAMOdOwd9AyuLMv/PJY8z2yBjW3j7o+rHc7CV8rhAAAADrHndCgBu9f0PM7aLrDQZYQAAAANqdmerB5RMwIIjjhRySEWBUDaUy7WxZaUHKnhYrG+6qYBFGlUWQAtqYGTVX0rjBTJMnXAnrWoY1wiJCqMuv09o=" />
    <add key="HttpPassword" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA02WkTn5kdk2EiB3JkEHS/QAAAAACAAAAAAAQZgAAAAEAACAAAAARr27QqenInibTnIpeJnD6NAmLrBWi44pRbBhFnKed2AAAAAAOgAAAAAIAACAAAADLcZVZ2iyem8DoFSRMOWbwgjPYq3osYiGofMdJNbKFXhAAAAB2R+tkgAbKq+c1OaUlhFPBQAAAAAYlIIefnd80QagoBjUqDLW/16Uyh10AcDsNMUb0WR9wNnxekbtILN0k18NC6Gfbi94A7j0I3rVY8zoDekHYKB4=" />
    <add key="Version" value="0.24"/>
    <add key="EndpointURL" value="http://fuworldorder.net/hava/testraidupload.php" />
  </appSettings>
</configuration>